:root {
    --bg: #ffffff;
    --text: #1a1a1a;
    --link: #444444;
    --link-hover: #888888;
    --input-bg: #f5f5f5;
    --border: #dddddd;
    --muted: #666666;
    --button-hover: #f0f0f0;
    --button-active: #e5e5e5;
    --filter: invert(0);
}

:root[data-theme="dark"] {
    --bg: #0e1217;
    --text: #f1f1f1;
    --link: #cccccc;
    --link-hover: #ffffff;
    --input-bg: #1c1f26;
    --border: #2d323b;
    --muted: #aaaaaa;
    --button-hover: #2d313b;
    --button-active: #2d323b;
    --filter: invert(90%);
}


body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    color: var(--text);
    background: var(--bg);
    font-family: Inter, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
}

p {
    text-wrap: pretty;
    margin-bottom: 0.5rem;
}

a {
    color: var(--link);
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
        color: var(--link-hover);
    }
}

input {
    font: inherit;
}

button {
    padding: 10px;
    border-radius: 4px;
    color: #666;
    background: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background: var(--button-hover);
    }

    &:active {
        background: var(--button-active);
    }
}

input {
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 100%;
    background: var(--input-bg);
    color: var(--text);
    transition: border-color 0.2s, background 0.2s;
}

/* Content */
.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.content-container {
    max-width: 36rem;
    text-align: center;
    padding: 0 1rem 10rem;
}

.url-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    position: relative;

    .icon-button {
        position: absolute;
        right: 0;
    }
}

.test-container {
    margin-top: 2rem;
}

/* Buttons */
.icon-button {
    img {
        width: 20px;
        height: 20px;
        filter: var(--filter);
    }
}

#theme-toggle {
    top: 16px;
    right: 20px;
    position: fixed;

    img {
        width: 24px;
        height: 24px;
    }
}

/* Footer */
.footer {
    position: fixed;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: var(--muted);

    a {
        color: var(--muted);
        text-decoration: none;
        font-weight: 500;
        margin: 0 4px;
        transition: color 0.2s;

        &:hover {
            color: var(--text);
        }
    }
}
